.portfolio{
    position: relative;
    padding-bottom: 50px;
}

.portfolio .rounded-bg {
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 0;

}

.portfolio__content {
    position: relative;
    top: 11vw;
    z-index: 2;
}

.portfolio__container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 11vw;
}

.portfolio__item {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
}

.portfolio__item-image {
    margin: 0 auto;
    width: 80vw;
    height: 80vw;
    max-width: 350px;
    max-height: 350px;
    border-radius: 8rem;
    margin: 30px auto;
    background-color: var(--color-bg-variant);
}

.portfolio__item-image img {
    border-radius: 8rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.portfolio__item-image img:hover{
    transform: rotate(0);
}

.portfolio__item h3 {
    margin-top: 15px;
}

.portfolio__item-cta {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    
}

.portfolio__item-cta a {
    margin-top: 30px;
   margin-left: 10px;
   margin-right: 10px;
    
}




