.portfolio{
    position: relative;
    padding-bottom: 50px;
}

.portfolio .rounded-bg {
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 0;
}

.portfolio__content {
    position: relative;
    top: 11vw;
    z-index: 2;
}

.portfolio__container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 11vw;
}

.portfolio__item {
    display: flex;
    margin: 10px 20px;
    flex-direction: column;
}

.portfolio__item-image {

    aspect-ratio: 1/1;
    width: 80%;
    min-height: 300px;
    min-width: 300px;
    max-width: 500px;
    border-radius: 8rem;
    margin: 30px auto;
    background-color: var(--color-bg-variant);
}

.portfolio__item-image img {
    border-radius: 8rem;
    min-height: 300px;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.portfolio__item-image img:hover{
    transform: rotate(0);
}

.portfolio__item h3 {
    margin-top: 15px;
}

.portfolio__item-cta {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    
}

.portfolio__item-cta a {
    margin: 30px 10px 0 10px;
}




