@media (min-width:700px){

   .header__container {
      display:flex;
      flex-wrap: wrap;
      justify-content:center;
      align-content: center;
      gap: 50px;
   }

   .header__container .tech {
      margin: 10px;
   }

   .header .header__socials {
      bottom: -1vw;
   }

   .contact__container .contact__options {
      margin-top: 35px;
   }


   /* section .experience__container {
      flex-direction: row;
   } */
}