.about__container {
    margin-top: 50px;
    margin-bottom: 20px;
}

.about__me {
    width: 300px;
    height: 300px;
    border-radius: 8rem;
    margin: 30px auto;
    background-color: var(--color-secundary);
}

.about__me-image{
    height: 100%;
    border-radius: 8rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}

.about__me-image:hover{
    transform: rotate(0);
}

.about__content {
    font-size: 2rem;
}

.about__cards {
    max-width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px auto;
    
}

.about__card {
    width: 150px;
    padding: 5px 5px;
    margin: 0px 10px;
    border-radius: 20px;
    border: 2px solid var(--color-secundary);
    transition: var(--transition);
    font-weight: bold;
}

.about__card:hover{
    background-color: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
    cursor: default;
}

.about__card h5 {
    color: var(--color-secundary);
}

.about__icon {
    padding: 5px;
    font-size: 3rem;
    color: var(--color-primary);
}

.about__content p {
    text-align: justify;
    margin: 30px 15px 10px 10px;
}

.about__content a {
    display: inline-block;
    margin: 30px 10px;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 1.5rem;
}

