.header__container {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}


.header__container h1 {
    font-size: 3rem;
}

.header__container .header__logo {
    margin-bottom: 30px;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.5rem;

}

.cta {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.cta a{
    margin-top: 30px;
}



.me {
    width: 300px;
    height: 300px;
    margin: 30px auto;
    overflow: hidden;
}

.header__socials {
    display: flex;
    justify-content: center;
}

