.header {
    position: relative;
}

.header__container {
    position: relative;
    padding-top: 50px;
    
}


.header__container h1 {
    font-size: 3rem;
}

.header__container .header__logo {
    margin-bottom: 30px;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.5rem;

}

.cta {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.cta a{
    margin-top: 30px;
}

.tech{
    width: 300px;
    height: 300px;
    margin: 30px auto;
    overflow: hidden;
}



.header .rounded-bg {
    position: absolute;
    z-index: -1;
    bottom: -5px;
    left: 0;
}

.header__socials {
    position: relative;
    display: flex;
    justify-content: center;
}

.icon {
    z-index: 2;
}

