nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    min-width: 320px;
    padding: 15px 30px;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);

}